[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyreadstat = "*"
install = "*"
torch = "*"
torchvision = "*"
keras = "*"
wealth-transfer = {editable = true, path = "."}
tensorflow = "*"
matplotlib = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
